*{
     box-sizing: border-box;
 }
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li{
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1{
    font-size: 36px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #79644a;
}

h2{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 35px;
    color: #95782d;
    margin: 0;

}

h4{
    font-size: 38px;
    color: rgba(241, 241, 241, 1);
    font-weight: normal;
}

input{
    color: #a38a55;
    padding-left: 10px;
}


/* CSS Grid
=================================*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.inline{
    display: inline;
}

.row:after {
    display: block;
    content: '.';
    height: 0;
    visibility: hidden;
    clear: both;
}

[class*="col"] {
    float: left;
    display: inline;
}

[class*="col"]:last-child {
    margin-right: 0;
    float: right;
}

.col-1{   width: 8.333333%;  }
.col-2{   width: 16.66667%;  }
.col-3{   width: 33.333%;}
.col-4{   width: 440px  }
.col-5{   width: 50%  }
.col-6{   width: 586px  }
.col-7{   width: 687px  }
.col-8{   width: 740px  }
.col-9{   width: 889px  }
.col-10{  width: 990px  }
.col-11{  width: 1091px  }
.col-12{  width: 100%  }

.span-1{   max-width: 34%;  }
.span-3{   max-width: 34%   }
.span-2{   max-width: 48%;  }
.span-4{   width: 62%;  }
.offset-1{  margin-left: 14.333333%;  }





/*Basic
===============================================*/

.input-form{
    width: 196px;
    height: 33px;
    background-color: #7f6c42;
    border: hidden;
}

.btn{
    width: 108px;
    height: 41px;
    border: hidden;
    background-color: #b1965c;
    color: #f1f1f1;
    margin-top: 20px;
}

.line-up{
    border-left: 1px solid #FFFFFF;
    height: 20px;
    width: 1px;
    display: inline;
}





/*Navigation
=============================================*/
.navigation-bar{
    background-color: #473a2d;
    height: 94px;
}

.nav-logo{
    float: left;
    padding: 26px 0px 0px 0px;
}

.header-nav{
    float: right;
    margin-top: 34px;
}

.header-nav ul{
    display: inline-block;
}

.header-nav a{
    padding: 17px 18px 17px 20px;
}

.header-nav a:hover{
    background-color: #5b4d3b;
}

.divider{
    border-left:3px solid #38546d;
    border-right:3px solid #16222c;
    height:80px;
    position:absolute;

}

/* Slider Selection
=======================================================*/
.item{
    height: 590px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.postition li{
    position: absolute;
    bottom: 0;
    left: 0;
}


.slider-box{
    display: block;
    background-color: rgba(53, 44, 44, 0.46);
}

.slider-box h4{
    padding: 18px;
}

.slider-box p {
    font-size: 25px;
    color: rgba(241, 241, 241, 1);
    padding: 18px;
    font-weight: 400;

}

.slider-msg-1{
    position: absolute;
    bottom: 175px;
    left: 360px;
}

.slider-msg-2{
    position: absolute;
    bottom: 200px;
    left: 370px;
}

.slider-msg-3{
    position: absolute;
    bottom: 175px;
    left: 45%;
    text-align: right;
}


.slider-1{
    background-image: url("../img/slider/bilde1.png");

}


.slider-2{
    background-image: url("../img/slider/bilde2.png");


}

.slider-3{
    background-image: url("../img/slider/bilde3.png");


}
/* Par Mums About us
=======================================================*/
.Par-mums{
    background-image: url("../img/bg-about.png");
}

.about-text{
    color: #ededed;
    font-size: 15px;
}
.profil:first-child{
    margin-right: 60px;
}

.contact a{
    color: #c19f55;
}

.contact{
    text-align: center;
    color: #c19f55;
}

.certificate-container{
    background: #624e36;
    text-align: center;
    margin-top: 10px;
}

.contact p{
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}
.certificate p{
    background-color: #624e36;
    padding: 6px 40px 6px 34px;
    font-size: 13px;
    color: #fff;
}

.certificate p::before{
    content: url("../img/sertif.png");
    float: left;
    padding-right: 10px;
}


.profil-about p{
    color: #ededed;
    font-size: 15px;
}

.profil-about:last-child{
    padding-bottom: 90px;
}


.col-5-fix{
    width: 100% ;
}

.fix{
    display: inline-block;
    max-width: 50%;
}

.cerfix p {
    padding-bottom: 20px;
}


/* Pakaplpojumi
======================================================*/

.Pakalpojumi{
    background-image: url("../img/fons1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0
}
.article-text{
    overflow: hidden;
    max-width: 306px;
}

.article-text p:last-child{
    padding-bottom: 70px;
}

.pak-col-1 li{
    max-width: 306px;
}

.article-image{
    margin-right: 20px;
    float: left;
}


/*Klienti
=============================================*/

.klienti{
    background-color: #ffffff;
}

.klienti h1{
    text-align: center;
    font-weight: initial;
    color: #95782d;
}

.logo-container-1 li:not(:first-child):not(:last-child){
    padding-right: 65px;
    padding-left: 66px;
    padding-bottom: 77px;
}

.logo-container-2 li:not(:first-child):not(:last-child){
    padding-right: 60px;
    padding-left: 50px;
    padding-bottom: 47px;
}

.logo-container-3 li:not(:first-child):not(:last-child){
    padding-left: 88px;
    padding-bottom: 85px;
}

.arrow{
    display: none;
    position: fixed;
    top: 50%;
    right: 0%;
    height: auto;
}


/*Footer
=============================================*/
.footer{
    background: url("../img/footer-bg.png");
}

.footer h1{
    padding-top: 38px;
}

.line{
    border-bottom: 1px dashed #c7a457;
    margin-bottom: 45px;
}

.footer-contact a{
    color: #bc9b54;
    padding: 0;
}

.footer-contact{
    float: left;
    text-align: center;
    margin-left: 69px;
}

.footer-contactt:nth-child(3){
    color: #eacc8b;
    background-color: red; !important;
}

.footer-contact li{
    display: block;
    color: #bc9b54;
    padding-bottom: 14px;
    font-weight: 500;
    max-width: 260px;
}


.map{
    background-color: #97804e;
    width: 410px;
    height: 297px;
    float: left;
    margin-bottom: 79px;
}

.google-map{
    margin: 5px;
}

.contact-info-img img{
    margin-left: 169px;
    padding-bottom: 24px;
}

.footer-mail{
    float: right;
}

.footer-mail h3{
    margin: 0;
    font-weight: 400;
    padding-bottom: 18px;
    color: #f9e09e;
}

.footer-mail input{
    margin-bottom: 20px;

}

.footer-mail input:nth-child(1){
    margin-bottom: 20px;
    margin-right: 18px;

}

.footer-mail textarea{
    display: block;
    width: 414px;
    height: 144px;
    background-color:#7f6c42;
    border: hidden;
    resize: none;
    color: #9a8350;
}


.hidden{
    visibility: hidden;
}


.loading-part{
    background-color: #846b48;
    position: absolute;
    width: 419px;
    height: 264px;
right: 5%;
    bottom: 76px;
}

.loading-container{
    position: relative;
}
.loading-part p{
    padding-top:25px;
    color:#c09f74;
    text-align: center;
    font-size: 25px;
}
.loading{
    margin-left: 165px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-top: 8px solid rgb(154, 131, 80);
    border-right: 8px solid rgba(141, 113, 65, 0.69);
    border-bottom: 8px solid rgba(141, 113, 65, 0.69);
    border-left: 8px solid rgba(141, 113, 65, 0.69);
    border-radius: 100%;

    animation: rotate 1s infinite linear;
}
@keyframes rotate{
    from {transform: rotate(0deg) translate3d(0,0,0)}
    to {transform: rotate(359deg) translate3d(0,0,0)}
}

/* Responsive CSS Grid
===================================*/

@media only screen and (max-width: 1199px) {
    .container{
        width: 960px;
    }

    .col-6{
        width: 468px;
    }
    .col-8{
        width: 500px;
    }

    [class*="col"]:last-child {
        margin-right: 0;
        float: left;
    }


    .klienti,
    .footer-map,
    .slider,
    .loading-container
    {
        display: none;
    }

    .footer-mail textarea{
        width: 300px;
    }

}


